http {
   upstream backend {
      server {{ backend1_ip }};
      server {{ backend2_ip }};

   }


   server {
      listen 80;

      location / {
          proxy_pass http://backend;
      }
   }
}
